<%= render partial: 'partials/subject_breadcrumb', locals: {subject: @subject} %>

<div class="core-data">
  <h1><%= @subject %></h1>
  <% if ! @subject.name.nil? %>
    <h1><%= @subject.name %></h1>
  <% end %>

  <img src="<%= @subject.location["standard"] %>" width="300"/>

  <dl>

    <dt>Type</dt>
    <dd><%= @subject.type %><% if @subject.type != 'root' %> (User-defined)<% end %></dd>

    <dt>Status</dt>
    <dd><%= @subject.status %> 
      <% if ! @subject.parent_subject.nil? %>
        <% if @subject.status == 'inactive' && @subject.parent_subject.workflow.generates_subjects_method == 'collect-unique'  %>
          <br />(Has <%= @subject.parent_classifications.count %> parent classifications. <%= @subject.parent_subject.workflow.generates_subjects_after %> total required to activate.)
        <% end %>
        <% if @subject.parent_subject.workflow.generates_subjects_method == 'most-popular'  %>
          <br />(<%= @subject.parent_classifications.count %> parent classification(s) have <%= (100 * @subject.calculate_most_popular_parent_classification[:percentage]).to_i %>% agreement. At least <%= @subject.parent_subject.workflow.generates_subjects_after %> parent classifications with <%= (100 * @subject.parent_subject.workflow.generates_subjects_agreement).to_i %>% agreement required to activate.)
        <% end %>
      <% end %>
      <% if @subject.flagged_bad_count %>
        <br />(<%= @subject.flagged_bad_count %> "Bad Subject" votes)
      <% end %> 
      <% if @subject.retire_count %>
        <br />Votes for retrement: <%= (@subject.percentage_for_retire * 100).round %>% (<%= @subject.retire_count %> of <%= @subject.number_of_completion_assessments %> completion assessments)
      <% end %> 
    </dd>

    <dt>Appears in Workflow:</dt>
    <dd>
      <% if @subject.workflow.nil? %>
        &mdash;
      <% else %>
        <%= @subject.workflow.name %>
      <% end %>
    </dd>

    <dt>Source Size:</dt>
    <dd><%= @subject.width %> x <%= @subject.height %></dd>

    <dt>Metadata</dt>
    <dd>
      <% if @subject.meta_data.nil? %>
        &mdash;
      <% else %>
        <%= render partial: 'partials/data_hash', locals: {hash: @subject.meta_data} %> 
      <% end %>
    </dd>


    <dt>Region</dt>
    <dd>
      <% if @subject.region.nil? %>
        &mdash;
      <% else %>
        <%= render partial: 'partials/data_hash', locals: {hash: @subject.region} %> 
      <% end %>
    </dd>

    <dt>Data</dt>
    <dd>
      <% if @subject.data.nil? %>
        &mdash;
      <% else %>
        <%= render partial: 'partials/data_hash', locals: {hash: @subject.data} %> 

      <% end %>
    </dd>

    <dt>Retire Count:</dt>
    <dd> <% if @subject.retire_count.nil? %>&mdash;<% else %><%= @subject.retire_count %><% end %> </dd> 

    <dt>Created</dt>
    <dd><%= @subject.created_at %> (<%= time_ago_in_words @subject.created_at, include_seconds: true %> ago)</dd>

    <dt>Last Update</dt>
    <dd><%= @subject.updated_at %> (<%= time_ago_in_words @subject.updated_at, include_seconds: true %> ago)</dd>

  </dl>
</div>

<div class="supplied-data">
  <h2>Related</h2>

  <% if ! @subject.parent_classifications.empty? %>
    
    <h3>Upstream</h3>
    <dl>

    <% if ! @subject.parent_classifications.empty? %>
      <dt>Generated From These Classifications </dt>
      <dd>
        <ol>
        <% @subject.parent_classifications.each do |classification| %>
          <li><%= link_to "#{classification} (#{time_ago_in_words(classification.finished_at)} ago)", admin_classification_path(classification) %></li>
        <% end %>
        </ol>
      </dd>
    <% end %>

    </dl>

    <% if @subject.workflow && @subject.workflow.name == 'verify' %>
      <h3>Classifications Breakdown</h3>
      <ul>
      <% @subject.parent_and_descendent_classifications_grouped.each do |cl| %>
        <li>
          <%= (100 * cl[:percentage]).round %>%: <%= cl[:votes] %> votes
          <%= render partial: 'partials/data_hash', locals: {hash: cl[:ann] } %>
        </li>
      <% end %>
      </ul>
    <% end %>

  <% end %>
  
  <h3>Downstream</h3>
  <dl>
    <dt>Total Classifications</dt>
    <dd><%= @subject.classification_count %></dd>

    <dt>Total Child Subjects</dt>
    <dd><%= @subject.secondary_subject_count %></dd>

    <% if @subject.classifications.having_child_subjects.count > 0 %>
      <dt>Subject-Generating Classifications</dt>
      <dd>
        <ol>
        <% @subject.classifications.having_child_subjects.each do |classification| %>
          <li><%= link_to "#{classification} (#{time_ago_in_words(classification.finished_at)} ago)", admin_classification_path(classification) %>
            <br />&raquo; <%= link_to classification.child_subject, admin_subject_path(classification.child_subject) %>
          </li>
        <% end %>
        </ol>
      </dd>
    <% end %>

    <% if @subject.classifications.not_having_child_subjects.count > 0 %>
      <dt><% if @subject.classifications.having_child_subjects.count > 0 %>Other <% end %>Classifications</dt>
      <dd>
        <ol>
        <% @subject.classifications.not_having_child_subjects.each do |classification| %>
          <li><%= link_to "#{classification} (#{time_ago_in_words(classification.finished_at)} ago)", admin_classification_path(classification) %>
          </li>
        <% end %>
        </ol>
      </dd>
    <% end %>
  </dl>
</div>

