
<%= render partial: 'partials/classification_breadcrumb', locals: {classification: @classification} %>

<div class="core-data">
  <h1><%= @classification %></h2>

  <img src="<%= @classification.subject.location["standard"] %>" width="300"/>

  <dl>

    <dt>Task Key</dt>
    <dd><%= @classification.task_key %></dd>

    <dt>Annotation</dt>
    <dd>
      <% if @classification.annotation.nil? %>
        &mdash;
      <% else %>
        <%= render partial: 'partials/data_hash', locals: {hash: @classification.annotation} %> 
      <% end %>
    </dd>

    <dt>Task Time</dt>
    <dd><%= distance_of_time_in_words @classification.started_at, @classification.finished_at, include_seconds: true %></dd>

    <dt>Finished</dt>
    <dd><%= @classification.finished_at %> (<%= time_ago_in_words @classification.finished_at, include_seconds: true %> ago)</dd>


  </dl>
</div>

<div class="supplied-data">
  <h2>Related</h2>

  <dl>
    <dt>User</dt>
    <dd><%= link_to @classification.user, admin_user_path(@classification.user) %></dd>
  </dl>

  <h3>Upstream</h3>
  <dl>
    <dt>Parent Subject</dt>
    <dd><%= link_to @classification.subject, admin_subject_path(@classification.subject) %></dd>
  </dl>

  <h3>Downstream</h3>
  <dl>
    <dt>Generated Subject</dt>
    <dd>
      <% if @classification.child_subject.nil? %>
        &mdash;
      <% else %>
        <%= link_to @classification.child_subject, admin_subject_path(@classification.child_subject) %>
      <% end %>
    </dd>

  </dl>

</div>

