<!DOCTYPE html>
<html>
<head>
  <title>Scribe Admin</title>
  <%= stylesheet_link_tag    "admin/all", media: "all" %>
  <%= javascript_include_tag "admin/all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'admin/partials/head.html.erb' %>

<div id="admin-content">
  <%= yield %>
</div>

</body>
</html>
