<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=1000" />
<title><%= current_project && current_project.title ? current_project.title: 'Scribe' %></title>

<% if current_project %>
<meta property="og:title" content="<%= current_project.title %>" />
<meta name="twitter:title" value="<%= current_project.title %>">
<meta name="description" content="<%= current_project.summary %>">
<% end %>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<%= stylesheet_link_tag "application", media: "all" %>
<link rel="stylesheet" href="/css/styles.css" media="screen" title="no title" charset="utf-8">

<script src="https://cdn.polyfill.io/v1/polyfill.min.js?features=default,es6,Promise,fetch&amp;flags=gated"></script>
<%= javascript_include_tag "application" %>
<script src='/js/custom.js' charset="utf-8"></script>

<%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

<% if current_project && ! current_project.analytics.nil? && ! current_project.analytics[:google_analytics_client_id].nil? %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '<%= current_project.analytics[:google_analytics_client_id] %>', 'auto');
  ga('send', 'pageview');
</script>
<% end %>

</body>
</html>
